  <!-- banner -->

 <div class="row-fluid">

  <%if signed_in? %>
	  <%if current_user.wolf_feed.empty? %>

	    <%= render 'wolves/wolf_form' %>

	  <% else %>
	  	<div class="offset4 span4">
	  	<%= render 'shared/wolf_feed' %>
	  	</div>
	  <% end %>
  <% else %>
  	<%= render 'layouts/banner' %>
  <% end %>

</div>