              <div class="buttomcontainer facebook">
              <a href="/auth/facebook" class="buttom"><i class="icon-white icon-facebook"></i> Facebook </a>
          	  </div>

          	  <div class="buttomcontainer twitter">
              <a href="/auth/twitter" class="buttom"><i class="icon-white icon-twitter"></i>  Twitter </a>
          	  </div>

          	  <div class="buttomcontainer google">
              <a href="/auth/google_oauth2" class="buttom"><i class="icon-white icon-google-plus-sign"></i>  Google </a>
          	  </div>