
      <div class="signinform">
                  <div class="titlearea">
                  <h2>Welcome!</h2>
                  </div>
                  <div class="form">
                  <%= render 'new'%>
                  </div>
      </div>






