<div class="signupcontainer">


	<div class="signupform rightpane">
			<div class="titlearea">
			<h2> Sign up with</h2>
			</div>
			<div class="social_signup">
			<%= render 'sessions/social' %>
			</div>

	</div>

	<div class="signupform leftpane">
			<div class="titlearea">
			<h2>Create your account</h2>
			</div>
			<div class="form">
			<%= render 'form_new'%>
			</div>
	</div>


</div>


