   <div class="item date-marker">
      <div class="inner">
        <div class="inner2">
          <div class="timestamp"><%=smoke.created_at%></div>
          <div class="date"><%=smoke.created_at.strftime("%d %b")%></div>
        </div>
      </div>
    </div>

