            <div class ="span7 offset1">

	            <% if signed_in? %>

            	<%= render 'shared/wolf_feed' %>

            	<% else %>

            	<% end %>

            </div>



            <div class ="offset1 span3 "> 

	            <% if signed_in? %>

	            <!-- need to implement friendly signin here -->
	            <!-- smokes has before_filter -->	  

	            <div class =" well well-small">          
					<%= render 'smokes/show' %>
				</div>
				
				<% else %>

		 			<%= render 'sessions/new' %>                
		            
					<%= render 'users/form_new' %>

				<% end %>

			</div>



