
	<%= render 'smokes/show' %>
	
	<% if !@answer.nil? %>
	<%= render 'wolves/answer' %>
	<% end %> 

    <div class="current_user_answer"></div>



	<div class="shoots coolscroll">
	<%= render 'shared/shoot_feed' %>
	</div>