            <div class ="well well-small">
                

              <%= form_for(@wolf) do |f| %>

              <%= render 'shared/error_messages' , object: f.object%>

                        <legend>
                            <a class ="lead"> Ask a question </a><br> 
                            <small>and plug into the matrix 
                            </small><code>?</code>

                        </legend>

                        <div class="divider"></div>

                  <div class="field">
				    <%= f.text_area :content, placeholder: "too big!" %>
				  </div>

                <%= f.submit "Ask", class: "btn btn-primary btn-success" %>
              <% end %>
                
            </div>