            <div class ="offset1 span4">

              <%= render 'shared/wolf_feed' %>

            </div>



            <div class =" offset1 span4 "> 

                <%= render 'wolves/wolf' %>

            </div>