            <div class ="span5  coolscroll">

              <% if signed_in? %>

              <%= render 'shared/wolf_feed' %>

              <% else %>

              <% end %>

            </div>



            <div class =" offset1 span6 "> 

              <% if signed_in? %>

              <!-- need to implement friendly signin here -->
              <!-- smokes has before_filter -->   

              <div class =" well " >     

                <legend>
                    <a class ="lead"> Event Details </a><br> 
                </legend>

                <div class="divider"></div>
       
                <%= render 'wolves/tabs' %>

              </div>
              
              <% else %>

                <%= render 'sessions/new' %>                
                      
                <%= render 'users/form_new' %>

              <% end %>

            </div>