<div class="banner">

<h1>Looking for something? </h1>
<h2>Bullhorn helps you to crowdsource your search <br> and turbo boost your search network 
</h2> 

<div class="signup">
    <a id='signup' href="/signup"><span>Get Started</span></a>
</div>

<img src="assets/rapsberry.jpg" class="illustration" width="250" height="341">

</div>

<%= render  "layouts/howitworks" %>