<div class="banner">

<h1>Lost something? Fret not. </h1>
<h2>Bullhorn helps you mobilize a crowd quickly <br>and coordinate your personal <br>search task force
</h2> 

<div class="signup">
    <a id='signup' href="/signup"><span>Get Start</span></a>
</div>

<img src="assets/rapsberry.jpg" class="illustration" width="250" height="341">

</div>