<div class="banner">

<h1>Mobilize help through social network</h1>
<h2>Build a viral search compaign <br>
	and enlists helps from hundreds of thousands <br>
</h2> 

<div class="signup">
    <a id='signup' href="/signup"><span>Get Started</span></a> 
</div>

<a class="itworks" href= "http://en.wikipedia.org/wiki/DARPA_Network_Challenge">does this work?</a>

<!-- <img src="assets/Lantern.jpg" class="illustration" width="550" height="341">
 -->
</div>

<%= render  "layouts/howitworks" %>