<div class="banner">

<h1>Mobilize help through social network<br>
in the most effective way</h1>
<h2>Create your search compaign under five minutes<br>
 and get helps from hundreds of thousands in a few days<br>
</h2> 

<div class="signup">
    <a id='signup' href="/signup"><span>Get Started</span></a> 
</div>

<a class="itworks" href= "http://en.wikipedia.org/wiki/DARPA_Network_Challenge">Does this work?</a>

<!-- <img src="assets/Lantern.jpg" class="illustration" width="550" height="341">
 -->
</div>

<%= render  "layouts/howitworks" %>