<div class="banner">

<h1>Lost something? Fret not.</h1>
<h2>Bullhorn helps you build a viral search compaign <br>
	and enlist helps from hundreds of thousands people quickly<br>
</h2> 

<div class="signup">
    <a id='signup' href="/signup"><span>Get Started</span></a>
</div>

<!-- <img src="assets/Lantern.jpg" class="illustration" width="550" height="341">
 -->
</div>

<%= render  "layouts/howitworks" %>