
    <div id="background"></div>

    <header>
        <logo>lost and found</logo>

        <div class="navigation">
        
          <div class="signin">
            <a id='signin' href="https://manage.stripe.com/login"><span>Sign In</span></a>
          </div>

          <ul class="global">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Help", help_path %></li>
          </ul>

        </div>

    </header> 
    <!-- END HEADER -->
