<div class = "moreinfo">

	<div class = "title">
		<h2>How Bullhorn Works</h2>
	</div>
	<div class = "even incentive">
		<div class = "prop">
			<h2>Set up your search page and start to expand your search network </h2>
			<p>Posted your request to craiglist or facebook? Your post might be flushed down in a few hours and rarely seen in a few days</p>
			<p>Bullhorn allows you to create a campaign which incentivize people to spread your message further so that your search network keeps alive and expanding.</p>
		</div>

		<img src = "assets/Post.png" width= 50% height=200px >
<!-- 		<div class = "big-icon icon-fullscreen  icon-muted illustration"></div>
 -->

	</div>

	<div class = "odd poster">

		<div class="prop">
			<h2> Recursive incentive, do more with less</h2>
			<p> Bullhorn allows you to implement a recursive incentive strucutre for your search compaign. </p> 
			<p>For a reward of $500. If Charlie help to send the request to John, and John twitted it to his friend Roland and luckily Roland found what you were looking for! Bullhorn allows you to reward Roland $250, John $125 and Charlie $$62.5 </p>
			<p> So everybody has an incentive to keep an eye for you, and at the same time relay your message along.</p>
		</div>
		
		<img src = "assets/Status.png" width= 50% height=200px >


	</div>

	<div class = "even urlandqrcode">

		<div class="prop">
			<h2>Keep it simple</h2>
			<p> Just write your post as you usually do, Bullhorn will generate a ready-to-print poster for you. You will be given a link to your search page for online compaign and QRcode for offline posting.</p>
			<p> Whoever decide to help you can join your network through the link or QR code and generate their own set of link and QRcode.</p>
		</div>

		<img src = "assets/QR.png" width= 50% height=200px >

		<span class="clearleft"></span>

	</div>

	<div class = "odd tipsleads">

		<div class="prop">
			<h2>Keep you informed</h2>
			<p> After you started your search compaign, you can monitor the development of your network from your home page, such as size of the network, number of leads and number of votes. More features will be added soon.</p>
			<p> If someone in your network submit a lead, the whole team of helpers lead up to that person will be informated. Team will able to vote on the lead according to its relevance.</p>
		</div>

		<img src = "assets/Leads.png" width= 50% height=200px >


		<span class="clearright"></span>


	</div>

	<div class = "even vote">

		<div class="prop">
			<h2>Why we are doing this</h2>
			<p>Research result during DARPA's network challenge show that recursive structure is by far the most effective strategy in soical search. We build the project to validate that result and bring the benefit to general public.<p>
			<p>Please let us know if you have any suggestion or need any features to make your search compaign effective. </p>
		</div>
		<div class = "big-icon icon-fighter-jet icon-muted "></div>

		<span class="clearleft"></span>

	</div>

</div>
