<div class = "moreinfo">

	<div class = "title">
		<h2>How Bullhorn Works</h2>
	</div>
	<div class = "even incentive">
		<div class = "prop">
			<h2>Keep your search expanding and keep your hope alive </h2>
			<p>Posted your request to craiglist or facebook? Your post might be flushed down in a few hours and rarely seen in a few days</p>
			<p>Bullhorn allows you to create a campaign which incentivize people to spread your message further so that your search network keeps alive and expanding.</p>
		</div>

		<div class = "big-icon icon-fullscreen  icon-muted "></div>


	</div>

	<div class = "odd poster">

		<div class="prop">
			<h2> Recursive incentive, do more with less</h2>
			<p> With bullhorn, you can turbo boost your search network. According to our research on wikipedia you can expect five times more participation with same amount of monetary reward.</p>
			<p> Say you put a reward of $500. If Charlie help to send the request to John, and John twitted it to his friend Roland and luckily Roland found what you were looking for! Bullhorn allows you to reward Roland $250, John $125 and Charlie $$62.5 </p>
			<p> So everybody has an incentive to keep an eye for you, and at the same time relay your message along.</p>
		</div>
		
		<div class = "big-icon icon-group icon-muted "></div>

	</div>

	<div class = "even urlandqrcode">

		<div class="prop">
			<h2>Keep it simple</h2>
			<p> Just write your post as you usually do, Bullhorn will generate a ready-to-print poster for you.</p>
			<p> Use the link and QR code for posting online or offline, publicly or privately. Whoever decide to help you can join your network through the link or QR code and generate their own set of link and QRcode.</p>
		</div>

		<div class = "big-icon icon-magic icon-muted "></div>

		<span class="clearleft"></span>

	</div>

	<div class = "odd tipsleads">

		<div class="prop">
			<h2>Keep you informed</h2>
			<p> After you started your search compaign, you can monitor the development of your network from your home page, such as size of the network, number of leads and number of votes. We are working on adding more features and make it realtime.</p>
			<p> If someone in your network submit a lead, the whole team of helpers lead up to that person will be informated. Everyone will able to vote on the lead according to its relevance.</p>
		</div>

		<div class = "big-icon icon-lightbulb icon-muted "></div>

		<span class="clearright"></span>


	</div>

	<div class = "even vote">

		<div class="prop">
			<h2>Keep improving</h2>
			<p>Let us know what features you need for your search campaign, we will build it for you. <p>
			<p>help make bullhorn awesome!</p>
		</div>
		<div class = "big-icon icon-fighter-jet icon-muted "></div>

		<span class="clearleft"></span>

	</div>

</div>
