<div class = "moreinfo">

	<div class = "title">
		<h1>Create your search campaign in three steps</h1>
	</div>
	<div class = "even incentive">
		<div class = "prop">
			<h2>1. Set up your campaign page</h2>
			<p>Effectiveness of your campaign depends on what you put down here, so take your time. </p>
			<p>Do you have a compelling story or cause? Did provided enough details to be serious and credible? </p>
			<p>Provide a picture or short video whenever you can.</p>
			<p>Reward is the fuel that propels your campagin through large social network. </p>
		</div>

		<img src = "assets/Post.png" width= 50% height=200px >
<!-- 		<div class = "big-icon icon-fullscreen  icon-muted illustration"></div>
 -->

	</div>

	<div class = "odd poster">

		<div class="prop">
			<h2>2. Do the hardwork</h2>
			<p>Facebook, twitter, craigslist, email, poster; friends, coworkers, classmates, neighbors; police, NGO, local media. Engage them with your story and start promote your campaign now. </p> 
			<p>The generated link/QRcode is the key to your campaign, attach the link in your message and ask people to sign up. They will be able to generate their own link to promote your campaign through their social network.</p>
			<p>To provide people an incentive, you can keep track of the network and offer 1/2 of the reward to the finder and 1/4 to the inviter and 1/8 to the inviter's inviter ...</p>
		</div>
		
		<img src = "assets/QR.png" width= 50% height=200px >
		


	</div>

	<div class = "even urlandqrcode">

		<div class="prop">
			<h2>3. Monitor the development</h2>
			<p>Orange dot shows total size of your network, blue dot shows the number of tips you harvested through the network, green dot shows the number of endorsement by your campaign participants.</p>
			<p>Every memeber on the chain leads to a tip will be able to endorse the tip, so that the higher the endorsement number the more reliable the tips is. </p>
			<p> Hover mouse over the search network panel will open up belly of the beast with more secrets. You can click 'detail' to see all the communication through your network. </p>

		</div>

		<img src = "assets/Status.png" width= 50% height=200px >

		<span class="clearleft"></span>

	</div>


</div>
